*.png
*.mrc
*.obj
*.sif
*.svg
.idea
./vscode/*
**/__pycache__/**

gaussian_splatting/submodules/*

main/pretrained_models/**
main/final_runs_hu
main/results/*

eg3d/checkpoints/**
eg3d/checkpoints_lpff/**
eg3d/metric_results

PanoHead/models/*
PanoHead/out/*
